<!-- 
  Create Registration form with Validations and Error Messages. After submission, those fields will be printed in console as JSON Format.
 
  Fileds are  
    First Name(3-16 Alphabets), 
    LastName(3-16 Alphabets), 
    Email Id, 
    Contact Number(0-10 Numbers, Start with 9, 8, 7), 
    Password & Confirm Password(Both password should match).

  After successfully validation, the Submit should be enable else disable. 
-->

<div class="container p-5 content">
  <div class="row w-100 m-auto heading">
    <div class="col-sm-12 col-md-12 col-lg-12 my-3">
      <h2 class="m-0">User registration form</h2>
    </div>
  </div>
  <form [formGroup]="formGroup" #regForm="ngForm">
    <div class="row w-100 m-auto">
      <div class="col-sm-6 col-md-12 col-lg-6 mt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" required />
          <mat-error *ngIf="f.firstName.errors">
            <span *ngIf="f.firstName.errors.required">
              Please Enter First Name
            </span>
            <span
              *ngIf="
                f.firstName.hasError('minlength') ||
                f.firstName.hasError('maxlength')
              "
            >
              Please enter value greater than 3 and less than 16
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-md-12 col-lg-6 mt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" required />
          <mat-error *ngIf="f.lastName.errors">
            <span *ngIf="f.lastName.errors.required">
              Please Enter Last Name
            </span>
            <span
              *ngIf="
                f.lastName.hasError('minlength') ||
                f.lastName.hasError('maxlength')
              "
            >
              Please enter value greater than 3 and less than 16
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-md-12 col-lg-6 mt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required />
          <mat-error *ngIf="f.email.errors">
            <span *ngIf="f.email.errors.required"> Please Enter Email </span>
            <span *ngIf="f.email.errors.email">
              Please enter valid email address
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-md-12 col-lg-6 mt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Contact Number</mat-label>
          <input matInput formControlName="contactNumber" required />
          <mat-error *ngIf="f.contactNumber.errors">
            <span *ngIf="f.contactNumber.errors.required">
              Please Enter Contact Number
            </span>
            <span *ngIf="f.contactNumber.hasError('pattern')">
              Please enter valid phone number
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-md-12 col-lg-6 mt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" required />
          <mat-error *ngIf="f.password.errors">
            <span *ngIf="f.password.errors.required">
              Please Enter Password
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-md-12 col-lg-6 mt-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" required />
          <mat-error *ngIf="f.confirmPassword.errors">
            <span *ngIf="f.confirmPassword.errors.required">
              Please Confirm Password
            </span>
            <span *ngIf="f.confirmPassword.hasError('mustMatch')">
              Password not matched
            </span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-12 text-center my-4">
        <button
          class="btn btn-success w-25 ms-3"
          (click)="onSubmit()"
          [disabled]="formGroup.invalid"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
